<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">


<suite name="Suite">
	<listeners>
		<listener class-name="utils.Listeners"></listener>
	</listeners>

	<test thread-count="5" name="Test" parallel="true">
		<classes>
			<class name="com.cybersuccess.OrangeHrmAutomationProject.AppTest" />
			<class name="login.SmpleTestCases" />
			<class name="login.LoginTest"></class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->